<a href="https://colab.research.google.com/github/Veronicapalmeira/ip-2024-01/blob/main/List_01_Jacson__Barbosa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Questão 1**

Leia (nota1,nota2,nota3)

Media <- (nota1 + nota2 + nota3)/3

se Media >= 6 entao

escreval("MEDIA =",Media)

escreva ("Aprovado")

Senão

escreval("MEDIA =",Media)

escreva ("Reprovado")

fimse

**Questão 2**

escreva ("número de casos de testes: ")

leia (nc)

nct <- 0

enquanto (nc > nct) faca

escreval ("número de pessoas e as percentagens de Popular, Geral, Arquibancada e Cadeiras: ")

leia (p)

leia (pp)

leia (pg)

leia (pa)

leia (pc)

VT <- ((p * pp/100 * 1) + (p * pg/100 * 5) + (p * pa/100 * 10) + (p * pc/100 * 20))

escreval ("A RENDA DO JOGO N.", nct + 1, " E =", vt)

nct <- (nct + 1)

fimenquanto

**Questão 3**

leia(n1,n2,n3)

se(0>= n1 >9) e (0>=n2>9) e (0>n3>9) entao

escreva("DIGITO INVALIDO")

senão

s <- (n1*100)+(n2*10)+n3

m <- s*s

escreva(s,", ", m)

fimse

**Questão 4**

escreval("salário mínimo: ")

leia(SM)

escreval("quantidade de kW gasta:")

leia(CKW)

CW <- SM*0.7/100

escreval("Custo por kW: R$ ", CW)

CC <- CW*CKW

escreval("Custo do consumo: R$ ", CC)

CD <- CC*0.9

escreva("Custo com desconto: R$ ", CD)

**Questão 5**

escreval("Digite o número da conta do cliente: ")

leia(cc)

escreval("Digite o consumo de água em metros cúbicos: ")
   
leia(ca)

escreval("Digite o tipo de consumidor (R - Residencial, C - Comercial, I - Industrial): ")
    
leia(tc)

se (tc = R) entao

    vc <- 5 + 0.05 * ca
    
senao
se (tc = C) entao
        
    se (ca <= 80) entao
            
    vc <- 500
        
    senao
            
    vc <- 500 + 0.25 * (ca - 80)
        
    fimse
    
senao se (tc = I) então
        
    se (ca <= 100) entao
            
    vc <- 800
       
    senao
            
    vc <- 800 + 0.04 * (ca - 100)
        
    fimse
    
fimse
    
escreval("CONTA = ", cc)
    
escreva("VALOR DA CONTA = ", vc)

**Questão 6**

escreval("numero de temperaturas em Fahrenheit a serem convertidas para Celsius")

leia(n)

ne <- 0

enquanto (n > ne) faca

escreval("temperaturas em Fahrenheit: ")

leia(tconvertida)

TC <- 5*(tconvertida-32)/9

escreval(tconvertida," FAHRENHEIT EQUIVALE A ",TC," celsius")

ne <- (ne+1)

fimenquanto

**Questão 7**
escreval(" valor em Fahrenheit: ")

leia(F)

escreval( "valor em polegadas:")

leia(P)

C1 <- (5*F-160)/9

M2 <- P*25.4

escreval("O VALOR EM CELSIUS =", C1)

escreva("A QUANTIDADE DE CHUVA E = ", M2)

**Questão 8**
escreval("raio:")

leia(r)

escreval("altura")

leia(h)

pi <- 3.14159

AC <- pi*(r^2)

AL <- 2*pi*r*h

AT <- 2*AC+ AL

C <- AT*100

escreva("O VALOR DO CUSTO E = ", C)

**Questão 9**
escreval("escreva os valores de a,b e c, respectivamente:)

leia(a,b,c)

D <- (b^2)-4*a*c

escreva("O VALOR DE DELTA E = ", D)

**Questão 10:**
escreval("valores a,b,c e d da matriz:")

leia(a,b,c,d)

M <- (a*d)-(b*c)

escreva("O VALOR DO DETERMINANTE E = ",M)

**Questão 11**

escreval("escreva o número:")

leia(N)

se (N/3) ou (N/5) ∈ Z entao

escreva(" O NUMERO E DIVISIVEL")

senão

escreva("O NUMERO NAO E DIVISIVEL")

fimse

**Questão 12**

leia(H)

Se H>=3 entao

V <- (H*10)/3

Se H<3 entao

V <- 5*H

Escreva("O VALOR A PAGAR E = ",V)

fimse

**Questão 13**

leia(nota)

Se 0<=nota<6 entao

C <- "D"

Se 6<=nota<7.5 entao

C <- "C"

Se 7.5<=nota<9 entao

C <- "B"

Se 9<=nota<=10 entao

C <- "A"

escreva("nota = ", nota, "conceito = ", C)

fimse

**Questão 14**

leia(h,a)

Ab <- 3*(a^2)*(RaizQ(3))/2

V <- (1*Ab*h)/3

escreva("O VOLUME DA PIRAMIDE E = ", V," METROS CUBICOS")

**Questão 15**

leia(N)

se (5 >= N >= 2000) entao

para i de 2 em 2 até N

n2 <- i*i  

escreva(i,"^2 = ",n2)

fimse

**Questão 16**

Leia(S)

Se (S<=300) entao

SR <- (S*15)/10

fimse

Se (S>300) entao

SR <- (S*13)/10

Escreva("SALARIO COM REAJUSTE = " ,SR)

fimse

**Questões 17**


leia(n1,n2)

se n1%2=0 entao

para i de 1 ate n2 faça

escreva(n1, " ")

n1 <- n1+2

fimpara

senão

escreva("O PRIMEIRO NUMERO NAO E PAR")

fimse

**Questão 18**

Leia(V1,r,ne)

Vn <- V1+((ne-1)*r)

soma <- (V1+Vn)*ne/2

escreva(soma)

**Questão 19**

leia(n)

se (n <= 1) então
        
escreva("Numero invalido!")
    
senao
      
soma <- 0

k <- 1    

enquanto (k <=n) faça

soma <- soma+1/k

k <- k+1

fimenquanto

escreva(soma:0:6)

fimse

**Questão 20**

leia(h,m,s)

T1 <- h*3600

T2 <- m*60

TS <- T1+T2+s

escreva("O TEMPO EM SEGUNDOS E =", TS)